{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
    <title>Crear Empresa</title>
{% endblock title %}

{% block content %}
{% include '../../theme_base/templates/menu.html' %}
<div class="container">
	<h1>Crear Empresa</h1>
	<form method="POST">
	    {% csrf_token %}
	        
        <div class="row">
		    <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
		        <p>{% bootstrap_field form.name %}</p>
		    </div>
		    <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
		        <p>{% bootstrap_field form.rfc %}</p>
		    </div>
		</div>
		<div class="row">
		    <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
		        <p>{% bootstrap_field form.street %}</p>
		    </div>
		    <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
		        <p>{% bootstrap_field form.colony %}</p>
		    </div>
		</div>
		<div class="row">
		    <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
		        <p>{% bootstrap_field form.city %}</p>
		    </div>
		    <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
		        <p>{% bootstrap_field form.state %}</p>
		    </div>
		    <div class="col-sm-6 wow fadeInDown" style="display: none;">
		        <p>{% bootstrap_field form.user %}</p>
		        <p>{% bootstrap_field form.status %}</p>
		    </div>
		</div>
		<div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
	        {% buttons %}
	            <button type="submit" class="btn btn-primary">Guardar</button>
	            <a href="{% url 'companies_list' %}" class="btn btn-danger">Cancelar</a>
	        {% endbuttons %}
	    </div>
	</form>
</div>

{% endblock content %}

