{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
    <title>Editar Empresa</title>
{% endblock title %}

{% block content %}
{% include '../../theme_base/templates/menu.html' %}
<div class="container">
	<h1>Editar Empresa</h1>
	<form method="POST">
	    <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
	        {% csrf_token %}
	        {% bootstrap_form form %}
	        {% buttons %}
	            <button type="submit" class="btn btn-primary">Actualizar</button>
	            <a href="{% url 'companies_list' %}" class="btn btn-danger">Cancelar</a>
	        {% endbuttons %}
	    </div>
	</form>
</div>

{% endblock content %}
