{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <title>Empresa</title>
{% endblock title %}

{% block content %}
{% include '../../theme_base/templates/menu.html' %}

<div class="container">
    <!-- search form -->
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <section id="pricing">
          <div class="container">
            <div class="row">
              <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                <h2>Bienvenido {{ user.name }}</h2>
                <h3>¿Que es lo que te gustaría hacer?</h3>
              </div>
            </div>
            <div class="pricing-table">
              <div class="row">
                <div class="col-sm-4">
                  <div class="single-table wow featured flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h3>Mi perfil</h3>
                    {% for company in companies %}
                        <div class="member-image">
                          <img class="img-responsive" src="{% static 'images/admin/perfil.png' %}" alt="">
                        </div>
                        <a href="{{ company.get_company_detail_url }}" class="btn btn-lg btn-primary">Ver</a>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                    <h3>Administrador de contenido</h3>
                    <div class="member-image">
                      <img class="img-responsive" src="{% static 'images/admin/Icon_multimedia.png' %}" alt="">
                    </div>
                    <a href="{% url 'companies_media_options' %}" class="btn btn-lg btn-primary">Ver</a>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="single-table featured wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                    <h3>Mis campañas</h3>
                    <div class="member-image">
                      <img class="img-responsive" src="{% static 'images/admin/publishing.png' %}" alt="">
                    </div>
                    <a href="{% url 'companies_content_list' %}" class="btn btn-lg btn-primary">Ver</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section><!--/#pricing-->
    </div>
</div>
{% endblock content %}

