{% extends "base.html" %}

{% block title %}
    <title>Contenido digital</title>
{% endblock title %}

{% block content %}
{% include '../../theme_base/templates/menu.html' %}

<div class="container">
    <!-- search form -->
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <form class="navbar-form navbar-right" action="." method="get">
            <input id="search_box" name="search_box" type="text" placeholder="Search..." class="form-control">
            <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
        </form>

        <h1>Lista de contenido</h1>
        {% for content in contents %}
            <ul class="list-group">
              <li class="list-group-item">
                <h4>{{ content.text }}</h4>
              </li>
            </ul>
        {% endfor %}
        <a href="{% url 'company_content_form' %}" class="btn btn-primary">Agregar contenido</a>
    </div>
</div>
{% endblock content %}

